<div class="centered-content">
    <div class="task-manager-container">
        <div class="api-sidebar">
            <h1 class="title has-text-primary">
                API COLLECTION
            </h1>
            <div class="list-menu">
                <a class="list-menu-item is-active"> Self </a>
                <a class="list-menu-item"> Wallet </a>
                <a class="list-menu-item"> Payout </a>
                <a class="list-menu-item"> Airtime </a>
                <a class="list-menu-item"> Identity </a>
            </div>
            <button class="button is-primary" routerLink="/newlist"> + Add New Event </button>
        </div>

        <div class="task-list-container has-background-danger-light">
            <h1 class="title has-text-primary">
                Tasks
                <hr style="background-color: white; border: 1px;">
            </h1>
            <div class="task-menu">
                <a class="task-menu-item is-active"> Get Wallet </a>
                <a class="task-menu-item"> Check Balance </a>
                <a class="task-menu-item"> Transactions </a>
                <a class="task-menu-item"> Verify BVN </a>
                <a class="task-menu-item"> Get wallet to Wallets Transactions </a>
            </div>
            <div class="cirlce-add-button">

            </div>
        </div>

        <div class="functionality-container">
            <h1 class="title has-text-primary">
                Functionailty
            </h1>
            <div class="functionality-description has-background-danger-light">
                <p>With growing adoption of mobile payment apps by consumers to complete day to day transactions, we see an opportunity for developers and businesses to offer financial services to their existing customer base through REST APIs and without
                    doing the heavy lifting. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.</p>
                <p>To learn about the Api Collection We offer... <a href="https://documenter.getpostman.com/view/10058163/SWLk4RPL?version=latest">view documentation page</a> </p>
            </div>
            <div class="functionality-test has-background-danger-light">
                <p>To learn how this particular task in the collection works.. click on me</p>
            </div>
        </div>

    </div>
</div>