<div class="centered-content">
    <div class="modal-box">
        <h1 class="title"> Create a new event</h1>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="Type a name for your Event">
            </p>
            <p class="control">
                <a class="button is-primary">
                Create
              </a>
            </p>
        </div>
        <button class="button is-primary" style="margin-top: 3px;" routerLink="/"> Go Home </button>
    </div>
</div>